<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div style="font-family: Arial, sans-serif; color:#1f4e79; line-height:1.6; font-size:16px;">

<b>407, 4th Floor</b><br>
Jain Sadguru Capital Park,<br>

<img src="location-icon.png" width="18" style="vertical-align:middle;">
Beside Rameshwaram Cafe,<br>

High-Tech City,<br>
Hyderabad, Telangana, 500081<br><br>

<img src="email-icon.png" width="18" style="vertical-align:middle;">
<a href="mailto:info@priaccinnovations.com" style="color:#1f4e79; text-decoration:none;">
info@priaccinnovations.com
</a>

</div>
</body>
</html>